<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763210927400-fnq4c7vofri8ipd8g24m1768hsepmla5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763210927400-fnq4c7vofri8ipd8g24m1768hsepmla5</string>
	<key>API_KEY</key>
	<string>AIzaSyDu7LcYVDE8kPm-V_kIrkB8q-3KyyamvgY</string>
	<key>GCM_SENDER_ID</key>
	<string>763210927400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-c03d1</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-c03d1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763210927400:ios:1572379496a5630755541d</string>
</dict>
</plist>